.App {
     text-align: center;
}

/* ERROR PAGE */

.response-status-code {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 700;
     font-size: 288px;
     line-height: 142.6%;
     display: flex;
     align-items: center;
     text-align: center;
     color: #ff6060;
     margin: auto;
     flex-wrap: nowrap;
     align-content: center;
     justify-content: center;
}

.error-message {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 36px;
     line-height: 142.6%;
     /* or 51px */

     display: flex;
     justify-content: center;
     align-items: flex-end;

     color: #ff6060;
}

.return-home {
     margin-top: 13.93%;
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 142.6%;
     /* identical to box height, or 26px */

     display: flex;
     justify-content: center;
     align-items: flex-end;
     text-decoration-line: underline;

     color: #ff6060;
}

@media all and (max-width: 768px) {
     .response-status-code {
          font-size: 96px;
          width: 198px;
          height: 99px;
          margin: 24% auto 12%;
     }
     .error-message {
          font-size: 18px;
          margin: auto;
          text-align: center;
          width: 260px;
     }
     .return-home {
          font-size: 14px;
          margin: 20% auto;
          width: 222px;
          height: 20px;
     }
}
