/* CSS du projet KASSA */

body {
     margin: 0;
     background-color: #ffffff;
     font-family: 'Montserrat';
}

#error-page {
     position: relative;
     width: 100%;
     height: 1024px;

     background: #ffffff;
}

.header {
     width: 100%;
     height: 68px;
}
/* LOGO */
nav {
     display: flex;
     justify-content: space-between;
     width: auto;
     margin: 2% 5% 1% 5%;
     align-items: center;
}
nav ul {
     display: flex;
     justify-content: flex-end;
     padding: 0;
}
nav li {
     display: block;
     padding: 0 0 0 80px;
}
li a {
     cursor: pointer;
     font-size: 24px;
     text-decoration: none;
     color: #ff6060;
}
li a:hover {
     text-decoration: underline;
}
.header__logo {
     height: 68px;
     width: 210px;
}

.header-aPropos {
     position: absolute;
     left: 85%;
     right: 6.94%;
     top: 5.57%;
     bottom: 91.11%;

     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 142.6%;
     /* or 34px */

     display: flex;
     align-items: flex-end;
     text-align: right;

     color: #ff6060;
}

/* FOOTER */

footer {
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     width: 100%;
     height: 250px;
     background: #000000;
}

.footer-logo {
     margin-top: 3%;
}
.footer-text {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 142.6%;

     color: #ffffff;
}

@media all and (max-width: 765px) {
     .header {
          width: 90%;
          height: 45px;
          margin: 2% auto;
     }
     .header__logo {
          height: 47px;
          width: 145px;
     }
     nav {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: space-between;
          align-items: center;
          margin: 0%;
     }

     nav ul {
          /* background-color: rgb(247, 0, 255); */
          /* display: flex; */
          /* align-content: center; */
          /* width: 1%; */
          align-items: center;
          /* text-align: right; */
          width: 140px;
          /* height: 17px; */
          flex-wrap: nowrap;
          flex-direction: row;
          justify-content: flex-end;
     }

     nav ul li {
          width: 100%;
          padding: 0%;
     }

     nav ul li a {
          font-size: 12px;
          text-decoration-line: underline;
          text-transform: uppercase;
     }

     footer {
          position: relative;
          width: auto;
          height: 209px;
     }

     .footer-logo {
          width: 122px;
          height: 39.44px;
          margin: auto;
     }

     .footer-text {
          font-size: 12px;
     }
}
