/* CSS du projet KASSA */

body {
     margin: 0;
     background-color: #ffffff;
     font-family: 'Montserrat';
}

/* D-HOME */

.D-Home {
     position: relative;
     width: 100%;
     /* width: 1440px; */
     height: 1024px;
     background: #ffffff;
}

#error-page {
     position: relative;
     width: 1440px;
     height: 1024px;

     background: #ffffff;
}

.header {
     width: 100%;
     height: 68px;
}
/* LOGO */
nav {
     display: flex;
     justify-content: space-between;
     width: auto;
     margin: 2% 5% 1% 5%;
     align-items: center;
}
nav ul {
     display: flex;
     justify-content: flex-end;
     padding: 0;
}
nav li {
     display: block;
     padding: 0 0 0 80px;
}
li a {
     cursor: pointer;
     font-size: 24px;
     text-decoration: none;
     color: #ff6060;
}
li a:hover {
     text-decoration: underline;
}
.header__logo {
     height: 68px;
     width: 210px;
}

.header-aPropos {
     position: absolute;
     left: 85%;
     right: 6.94%;
     top: 5.57%;
     bottom: 91.11%;

     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 142.6%;
     /* or 34px */

     display: flex;
     align-items: flex-end;
     text-align: right;

     color: #ff6060;
}

/* FOOTER */

footer {
     display: flex;
     justify-content: center;
     flex-direction: column;
     text-align: center;
     /* width: 100%;
     height: 200px; */
     background: #000000;
     width: auto;
     height: -webkit-fill-available;
}

.footer-logo {
     margin-top: 3%;
}
.footer-text {
     font-family: 'Montserrat';
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 142.6%;

     color: #ffffff;
}
